* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
  /*   font-family: Arial, Helvetica, sans-serif; */
    margin: 0;
    font-family: montserrat,sans-serif;
    font-size: 20px
  }
  
  #page-wrapper {
    position: relative;
  }
  
  
  /* Header/logo Title */
  #header {
    position: sticky;
    top: 0;
    text-align: center;
    background: #ffffcc;
   
  }
  
  #header-img {
    width: 250px;
    height: 125px;
  }
  
  /* Increase the font size of the heading */
  #header h1 {
    font-size: 40px;
  }
  
  /* Style the top navigation bar */
  #nav-bar {
    overflow: hidden;
    background-color: #333
  }
  
  /* Style the navigation bar links */
  #nav-bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  #nav-bar a.right {
    float: right;
  }
  
  /* Change color on hover */
  #nav-bar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Main Product */
  #main-product {
    background-color: #aaa;
    width: 70%;
  }
  
  #side-image {
    background-color: #aaa;
    width: 100%;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  
  
  #email {
      max-width: 275px;
      width: 100%;
      padding: 5px;
  }